<a {{bind-attr name=question.id}} />

<div class="slds-tree__item" {{action "toggleResults"}}>
  <button class="slds-button slds-m-right--x-small" aria-controls="tree0-node1">
    <svg aria-hidden="true" {{bind-attr class=":expand showYearlyResults:open:closed :slds-button__icon :slds-button__icon--small"}}>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevronright"></use>
    </svg>
    <span class="slds-assistive-text">Toggle</span>
  </button>
  <h3 role="presentation" class="slds-text-heading--small">{{question.content}}</h3>
</div>

{{#if showYearlyResults}}
  <table class="slds-table slds-table--bordered slds-no-row-hover">
    <thead>
      <tr class="slds-text-heading--label">
        <th scope="col"> </th>
        {{#each year in question.yearsAsked}}
          <th scope="col">
            <div class="slds-truncate">
              {{year}}
            </div>
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each answer in question.answers}}
        <tr class="slds-hint-parent">
          <td class="slds-truncate" scope="row">{{answer.content}}</td>

          {{#each summary in answer.yearSummaryAnswers}}
            <td class="slds-truncate" scope="row">
              {{answer-summary summary=summary}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
{{/if}}
